
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "navbar";
@import "carousel";
@import "index";
@import "pages";
@import "manage";
@import "categories";
@import "item";

body {
    background: #f4f6f8;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.manage-forms{
    width: 500px;
    height: auto;

    .some-form-item {
        margin-top: 15px;
        text-align: left;
        position: relative;

        label {
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
            clear: both;
        }
        input[type="text"] {
            width: 100%;
            display: block;
            padding: 10px;
            border: solid 1px #ccc;
            clear: both;
        }
        input[type="password"] {
            width: 100%;
            display: block;
            padding: 10px;
            border: solid 1px #ccc;
            clear: both;
        }
    }
}
.register-btn{
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 13px 9px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    background-color: #eb1478;
    border: 2px solid #eb1478;
    color: #ffffff !important;
    text-align: center;
}
.panel{
    background-color: #fff;
    border: 1px solid #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading{
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #d3e0e9;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body{
    padding: 15px;
}