
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "navbar";
@import "carousel";
@import "index";
@import "login";
@import "manage";
@import "categories";

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.manage-forms{
    margin: 20px;
    width: 500px;
    height: auto;

    .some-form-item {
        margin-top: 15px;
        text-align: left;
        position: relative;

        label {
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
            clear: both;
        }
        input {
            width: 100%;
            display: block;
            padding: 10px;
            border: solid 1px #ccc;
            clear: both;
        }
    }
    .register-btn{
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 13px 9px;
        border-radius: 2px;
        background-color: #eb1478;
        border: 2px solid #eb1478;
        color: #ffffff !important;
        text-align: center;
    }
}